#result-page {
  height: 100vh;
}

#result-page main {
  margin: 2rem 1rem;
  text-align: center;
}

#result-page main #title-box {
  margin-bottom: 2rem;
}

#result-page main #title-box .title {
  color: #ec5e98;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

#result-page main #title-box .title-msg {
  color: #232323;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

#result-page main #user-info-box {
  margin-bottom: 1.5rem;
}

#result-page main .result-rating {
  font-size: 2rem;
  font-weight: 700;
  color: #232323;
  margin-bottom: 2rem;
}

#result-page main .buttons {
  display: flex;
  justify-content: flex-end;
}

#result-page main .buttons .extend-btn {
  border: 1px solid #ec5e98;
  background-color: #fff;
  font-size: 1.1rem;
  color: #ec5e98;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  width: auto;
  padding: 0.8rem 2.2rem;
  margin-right: 1.2rem;
  cursor: pointer;
}

#result-page main .buttons .to-main-btn {
  background-color: #ec5e98;
  font-size: 1.1rem;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  width: auto;
  padding: 0.8rem 2.2rem;
}

@media (max-width: 1200px) {
  #result-page main #title-box .title {
    font-size: 2.5rem;
  }

  #result-page main #title-box .title-msg {
    font-size: 1.8rem;
  }
  #result-page main .result-rating {
    font-size: 1.8rem;
  }
}

@media (max-width: 768px) {
  #result-page main #title-box .title {
    font-size: 2rem;
  }

  #result-page main #title-box .title-msg {
    font-size: 1.5rem;
  }
  #result-page main .result-rating {
    font-size: 1.5rem;
  }
}
