.pass-button {
  display: flex;
  margin-left: auto;
  align-items: center;
  justify-content: center;
  width: 12rem;
  height: 4rem;
  flex-shrink: 0;
  border-radius: 1.25rem;
  background: #e490b3;
  color: #fff;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 700;
}

.inputbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}

.inputbox label {
  margin-right: -100px;
}

.input {
  display: flex;
  align-items: center;
  margin: 10px 0;
  width: 100%;
}

.complete-button {
  display: flex;
  align-self: flex-end;
  margin-right: 20px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 4rem;
  flex-shrink: 0;
  border-radius: 1.25rem;
  background: #ec5e98;
  color: #fff;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 700;
}

.profile-input {
  width: 80%;
  height: 3rem;
  border-radius: 0.8rem;
  border: 3px solid #d9d9d9;
  background: #fff;
  color: #898989;
  font-size: 1rem;
  margin: 0.5rem 0;
  padding: 0.5rem 0.7rem;
}

.profile-complete-btn {
  width: 10rem;
  height: 4rem;
  border-radius: 1.25rem;
  background: #ec5e98;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
}
