.mypage .changePw-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}

.mypage .changePw-box h3 {
  margin-bottom: 1.5rem;
}

.mypage .changePw-box .confirm-currentPw,
.mypage .changePw-box .confirm-changePw {
  position: relative;
}

.mypage .changePw-box .confirm-changePw .alert,
.mypage .changePw-box .confirm-currentPw .alert {
  display: none;
  color: red;
}

.mypage .changePw-box .confirm-changePw .alert.show,
.mypage .changePw-box .confirm-currentPw .alert.show {
  display: block;
  text-align: center;
  font-size: 1rem;
  margin-top: 0.5rem;
}
