.mypage .changePw-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  /* padding: 2rem; */
}
.current-container,
.confirm-container {
  width: 90%;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.confirm-currentPw,
.confirm-changePw {
  width: 80%;
}
.input-box {
  width: 100%;
}

.mypage .changePw-box h3 {
  margin-bottom: 1.5rem;
}

.mypage .changePw-box .confirm-currentPw,
.mypage .changePw-box .confirm-changePw {
  position: relative;
}

.mypage .changePw-box .confirm-input {
  width: 68%;
  height: 8vh;
  flex-shrink: 0;
  border-radius: 1.25rem;
  border: 3px solid #d9d9d9;
  background: #fff;
  color: #898989;
  font-size: 2.5vh;
  margin: 0.5rem 0;
  padding: 0.5rem 0.7rem;
}

.c-btn {
  width: 100%;
  height: 10vh;
}
.mypage .changePw-box .confirm-btn {
  color: black;
  border-radius: 0.625rem;
  background: #ec5e98;
  width: 14vh;
  height: 5vh;
  position: absolute;
  right: 0;
  margin-top: 1rem;
  font-size: 2vh;
}

.mypage .changePw-box .cancel-btn {
  color: black;
  border-radius: 0.625rem;
  background: #898989;
  width: 14vh;
  height: 5vh;
  position: absolute;
  left: 0;
  margin-top: 1rem;
  font-size: 2vh;
}

.mypage .changePw-box .confirm-btn:hover {
  color: white;
  background: #b0064d;
}

.mypage .changePw-box .cancel-btn:hover {
  color: white;
  background: #5c5b5b;
}

.mypage .changePw-box .confirm-changePw .alert,
.mypage .changePw-box .confirm-currentPw .alert {
  display: none;
  color: red;
}

.mypage .changePw-box .confirm-changePw .alert.show,
.mypage .changePw-box .confirm-currentPw .alert.show {
  display: block;
  text-align: center;
  font-size: 1rem;
  margin-top: 0.5rem;
}

@media (max-width: 1360px) {
  .mypage .changePw-box .confirm-input {
    width: 100%;
  }
}
@media (max-width: 425px) {
  .mypage .changePw-box .confirm-input {
    font-size: 2vh;
  }
  .mypage .confirm-changePw {
    width: 90%;
  }
}
