.mypage .changePw-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* padding: 2rem; */
}

.confirm-currentPw {
  /* background-color: pink; */
  width: 70%;
  align-items: center;
  justify-content: center;
}

.mypage .changePw-box h3 {
  margin-bottom: 1.5rem;
}

.mypage .changePw-box .confirm-currentPw,
.mypage .changePw-box .confirm-changePw {
  position: relative;
}

.mypage .changePw-box .confirm-input {
  height: 3rem;
  flex-shrink: 0;
  border-radius: 1.25rem;
  border: 3px solid #d9d9d9;
  background: #fff;
  color: #898989;
  font-size: 1rem;
  margin: 0.5rem 0;
  padding: 0.5rem 0.7rem;
}

.mypage .changePw-box .confirm-btn {
  border-radius: 0.625rem;
  background: #ec5e98;
  width: 7rem;
  height: 3rem;
  position: absolute;
  right: 0;
  margin-top: 1rem;
}

.mypage .changePw-box .confirm-changePw .alert,
.mypage .changePw-box .confirm-currentPw .alert {
  display: none;
  color: red;
}

.mypage .changePw-box .confirm-changePw .alert.show,
.mypage .changePw-box .confirm-currentPw .alert.show {
  display: block;
  text-align: center;
  font-size: 1rem;
  margin-top: 0.5rem;
}
