#meeting {
  /* width: 100%; */
  height: 100vh;
  background: linear-gradient(180deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

#meeting .meeting-video-row {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr;
  gap: 1.5rem;
}

#meeting .meeting-video-row:first-child {
  margin-bottom: 1.5rem;
}

#meeting .meeting-video-row:first-child {
  margin-bottom: 1rem;
}

#meeting .chat-room {
  width: 20%;
  /* position: absolute;
  right: 2rem; */
  height: 60vh;
  background: #ffd8e4;
  padding: 1rem;
  box-sizing: border-box;
  overflow-y: scroll;
  /* z-index: 2; */
  margin: 2rem 0 1.5rem;
  width: auto;
}

#meeting #audio-controls {
  position: absolute;
  top: 30px;
  right: 1.2rem;
}

#meeting .diff-member-selector {
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #bdbdbd;
}
