.modal {
  position: fixed;
  top: 50%; /* 화면 세로 중앙에 위치 */
  left: 50%; /* 화면 가로 중앙에 위치 */
  transform: translate(-50%, -50%); /* 세로와 가로로 50%만큼 이동하여 정확한 중앙 정렬 */
  width: 48.8125rem;
  height: 34.3125rem;
  flex-shrink: 0;
  border-radius: 1rem;
  background: #fff;
  box-shadow: 0px 4px 10px 8px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.modal .header {
  width: 100%; /* 헤더의 너비를 100%로 설정하여 부모 요소에 맞춤 */
  height: 5.4375rem;
  flex-shrink: 0;
  border-radius: 1rem 1rem 0rem 0rem;
  background: #ffd8e4;
  display: flex;
  flex-direction: row;
  justify-content: start; /* 가로 가운데 정렬 */
  align-items: center; /* 세로 가운데 정렬 */
  margin-bottom: 20px;
  position: relative;
  color: #232323;
  text-align: center;
  font-family: Roboto;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem; /* 62.5% */
  letter-spacing: 0.00625rem;
}

.box-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
}

.h1 {
  color: #898989;
  font-family: Inter;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.megi {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px;
}

/* 새로운 체크박스 스타일 */
.megi input[type='checkbox'] {
  position: relative;
  opacity: 0;
  /* visibility: hidden; */
}

.megi label {
  cursor: pointer;
}
