.openroom-modal {
  position: fixed;
  top: 50%; /* 화면 세로 중앙에 위치 */
  left: 50%; /* 화면 가로 중앙에 위치 */
  transform: translate(-50%, -50%); /* 세로와 가로로 50%만큼 이동하여 정확한 중앙 정렬 */
  width: 35%;
  height: 45%;
  flex-shrink: 0;
  border-radius: 1rem;
  background: #fff;
  box-shadow: 0px 4px 10px 8px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.openroom-modal .header {
  width: 100%; /* 헤더의 너비를 100%로 설정하여 부모 요소에 맞춤 */
  height: 13%;
  flex-shrink: 0;
  border-radius: 1rem 1rem 0rem 0rem;
  background: #ffd8e4;
  display: flex;
  flex-direction: row;
  justify-content: start; /* 가로 가운데 정렬 */
  align-items: center; /* 세로 가운데 정렬 */
  /* margin-bottom: 20px; */
  position: relative;
  color: #232323;
  text-align: center;
  font-family: Roboto;
  font-size: 3vh;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem; /* 62.5% */
  letter-spacing: 0.00625rem;
}

.openroom-modal .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85%;
  width: 100%;
  position: relative;
  /* background-color: red; */
}

.openroom-modal .box h2 {
  margin-bottom: 1.5vh;
}

.rank_limit {
  width: 90%;
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.room_title {
  width: 90%;
  height: 35%;
}

.rank-content {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 2vh;
}

.select-rank {
  width: 25%;
  height: 5vh;
  margin-right: 2vh;
  margin-left: 1vh;
}

.openroom-button {
  width: 90%;
  height: 15%;
}

.openroom-modal .box-title-content {
  width: 100%;
  height: 50%;
  flex-shrink: 0;
  border-radius: 0.8rem;
  border: 3px solid #d9d9d9;
  background: #fff;
  color: #898989;
  font-size: 1rem;
  padding: 0.5rem 0.7rem;
  margin-left: auto;
}

.openroom-modal .openroom-btn {
  width: 30%;
  height: 100%;
  flex-shrink: 0;
  border-radius: 1.25rem;
  background: #ec5e98;
  color: #fff;
  font-size: 2.5vh;
  font-style: normal;
  font-weight: 700;
}

.openroom-modal .openroom-btn:hover {
  background: #b0064d;
}

.openroommodal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}
.openroommodal-overlay.active {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

.close-button {
  display: flex;
  margin-left: auto;
}
.close-button button {
  font-size: 2.5vh;
  font-weight: 700;
  background-color: #ffd8e4;
  color: black;
}
.close-button button:hover {
  color: red;
}

@media (max-width: 768px) {
  .openroom-modal {
    width: 60%;
  }
}

@media (max-width: 426px) {
  .openroom-modal {
    width: 85%;
    justify-content: center;
    align-items: center;
  }
  .openroom-modal .box {
    width: 90%;
    margin: 0 0;
  }
  .openroom-modal .box h2 {
    font-size: 3vh;
  }
  .openroom-modal .header {
    font-size: 2.5vh;
    height: 15%;
  }
  .openroom-modal .openroom-btn {
    /* margin-right: 2vh; */
    width: 40%;
    height: 100%;
    font-size: 2vh;
    /* margin-bottom: 2vh; */
  }
}
