.rank-avartar {
  height: 100%;
  /* width: 100%; */
  position: relative;
}

.rank-avartar .profile {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.rank-avartar .rank {
  width: 40%;
  position: absolute;
  bottom: -5%;
  right: 1%;
}
