.signupbox {
  display: flex;
  flex-direction: column;
  padding: 2rem 4rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.signupbox .header {
  width: 81.5rem;
  height: 13.5625rem;
  flex-shrink: 0;
  border-radius: 1rem;
  background: #ffd8e4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.signup-icon {
  width: 15rem;
  height: 3rem;
  flex-shrink: 0;
  align-items: center;
}

.signup-logo {
  display: flex;
  flex-direction: column;
}

.signup-box {
  width: 81.5rem;
  height: 38.875rem;
  flex-shrink: 0;
  border-radius: 1rem;
  border: 5px solid #d9d9d9;
  background: #fff;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.signup-box .label {
  color: #000;
  font-family: Roboto;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
  width: 10rem;
  height: 2rem;
  flex-shrink: 0;
  margin-right: 20px;
  display: inline-block;
}

.signup-content {
  margin-top: 20px;
  width: 50rem;
  height: 30rem;
  flex-shrink: 0;
  background: #fff;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

.signup-id {
  display: flex;
  align-items: center;
}

.signup-password {
  display: flex;
  align-items: center;
}

.signup-confirmedpassword {
  display: flex;
  align-items: center;
}

.id-availability-message {
  margin-left: 200px;
  display: inline-block;
  color: green;
}

.password-match-message {
  margin-left: 200px;
  display: inline-block;
  color: green;
}
.signup-phone {
  display: flex;
  align-items: center;
}

.signup-birthdate {
  display: flex;
  align-items: center;
}

.birthdate-container {
  display: inline-block;
  margin-right: 10px; /* 원하는 간격을 지정합니다. */
}

.birth-calendar {
  width: 120px; /* 원하는 크기로 조정 (예시로 200px 사용) */
  height: 30px; /* 원하는 높이로 조정 (예시로 30px 사용) */
  font-size: 16px; /* 원하는 폰트 크기로 조정 (예시로 16px 사용) */
}

.signup-gender {
  display: flex;
  align-items: center;
}

.signup-gender input {
  display: flex;
}

.button-multicheck {
  display: flex;
  margin-left: 50px;
}

.button-certify {
  display: flex;
  margin-left: 50px;
}

.button-signup {
  display: flex;
  margin-left: auto;
  margin-right: 30px;
}

.gender-container {
  margin: 10px 10px;
  display: flex;
  width: 12rem;
  height: 3rem;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 0.5rem;
  border: 1px solid var(--m-3-sys-light-outline, #79747e);
  background: var(--m-3-sys-light-surface-container-high, #ece6f0);
}

.gender-man {
  display: flex;
  width: 6rem;
  height: 3rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 0.625rem; */
  border-right: 1px solid var(--m-3-sys-light-outline, #79747e);
  background: #dedede;
  border-top-left-radius: 0.5rem; /* 추가 */
  border-bottom-left-radius: 0.5rem; /* 추가 */
}

.gender-woman {
  display: flex;
  width: 6rem;
  height: 3rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 0.625rem; */
  background: #dedede;
  border-top-right-radius: 0.5rem; /* 추가 */
  border-bottom-right-radius: 0.5rem; /* 추가 */
}

/* styles.css (또는 원하는 CSS 파일) */
.gender-man.selected,
.gender-woman.selected {
  background-color: #ec5e98; /* 원하는 선택된 버튼의 배경색을 설정합니다. */
  color: #fff; /* 원하는 선택된 버튼의 텍스트 색상을 설정합니다. */
}
