.input {
  box-sizing: border-box;
}

.input-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.label {
  margin-right: 1.5rem;
  font-size: 1.2rem;
  color: #232323;
}

.disabled {
  background-color: rgba(217, 217, 217, 0.5) !important;
}
