#main #video-container {
  display: flex;
  align-items: center;
  width: 100%;
}

#main #main-top {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 2rem;
}

#main #filter-box {
  position: relative;
  margin-right: 1.5rem;
}

#main #filter-box ul {
  width: 8rem;
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
  padding: 0.5rem 0.8rem;
  position: absolute;
  right: 0;
  bottom: -5rem;
  display: none;
}

#main #filter-box ul.show {
  display: block;
}

#main #filter-box li {
  width: 100%;
  height: 50%;
  list-style: none;
  padding: 0.3rem 0;
  cursor: pointer;
}

#main #filter-box li:hover {
  color: #ec5e98;
}

#main #filter-box li:first-child {
  border-bottom: 1px solid #d9d9d9;
}

#main #search-box {
  position: relative;
}

#main #search-box .search-icon {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  color: #555;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
