#main main {
  margin: 2vh;
  width: 90%;
}

#main .room-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem 2rem;
  justify-content: space-between;
  justify-items: center;
  margin-top: 1rem;
}
#main #video-container {
  display: flex;
  align-items: center;
  width: 100%;
}

#main #main-top {
  margin-top: 2vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

#main #main-top .refresh {
  color: #232323;
  margin-right: 4vh;
  box-shadow: 0px 3px 6px 2px rgb(0 0 0 / 17%);
  border-radius: 50%;
  padding: 0.5rem;
  cursor: pointer;
  border: none;
  background-color: #fff;
  display: flex;
  align-items: center;
}

#main #main-top .refresh:hover {
  color: #ec5e98;
}
/* --------------------------- */
#main #filter-box {
  width: 4rem;
  position: relative;
  /* margin-right: 1.5rem; */
}

#main #filter-box .filter-btn {
  width: 100%;
  height: 2.5rem;
  border-radius: 6.25rem;
  background: rgba(238, 114, 165, 0.5);
}

#main #filter-box ul {
  width: 8rem;
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
  padding: 0.5rem 0.8rem;
  position: absolute;
  right: 0;
  bottom: -5rem;
  display: none;
}

#main #filter-box ul.show {
  display: block;
}

#main #filter-box li {
  width: 100%;
  height: 50%;
  list-style: none;
  padding: 0.3rem 0;
  cursor: pointer;
}

#main #filter-box li:hover {
  color: #ec5e98;
}

#main #filter-box li:first-child {
  border-bottom: 1px solid #d9d9d9;
}
/* --------------------- */

#main #search-box {
  width: 30%;
  position: relative;
}

#main #search-box .search-bar {
  width: 100%;
  height: 5vh;
  border-radius: 1.5rem;
  background: #ffe8ef;
  color: #555;
  font-size: 0.8rem;
  border: none;
  padding-left: 2vh;
}

#main #search-box .search-icon {
  position: absolute;
  top: 50%;
  right: 2vh;
  transform: translateY(-50%);
  color: #555;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

#main #room-footer {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  margin-top: 2rem;
}

#main #room-footer #btn-box {
  width: 100%;
  height: 8vh;
  display: flex;
  /* float: left; */
  /* justify-content: center; */
  /* align-items: center; */
}

#main #room-footer #btn-box .create-room-btn {
  width: 15%;
  height: 100%;
  border-radius: 0.5rem;
  background: #ecc835;
  color: #fff;
  font-size: 3vh;
  font-weight: 600;
}

#main #room-footer #btn-box .fast-match-btn {
  width: 15%;
  height: 100%;
  border-radius: 0.5rem;
  background: #ec5e98;
  color: #fff;
  font-size: 3vh;
  font-weight: 600;
}

#main #room-footer #btn-box button:first-child {
  margin-right: 2vh;
}

#main #room-footer #pagenationBtn-box {
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: center;
}
#main #room-footer #pagenationBtn-box .page-btn {
  width: 7%;
  height: 100%;
  border-radius: 6.25rem;
  background: #ffe8ef;
  color: #555;
  font-size: 2vh;
}

#main #room-footer #pagenationBtn-box button:first-child {
  margin-right: 3vh;
}
/* HelpModal이 나타날 때 MainPage 내용이 어두워지는 새로운 CSS 규칙 */
.modal-visible .main {
  opacity: 0.3; /* 혹은 원하는 어두움 정도를 조절 */
  background-color: rgba(0, 0, 0, 0.5); /* 여기서 불투명도 값을 조절 (0~1) */

  pointer-events: none; /* HelpModal 아래에 있는 요소들에 대한 이벤트를 차단합니다. */
}

@media (max-width: 990px) {
  #main #room-footer #pagenationBtn-box .page-btn {
    width: 12%;
  }
}
@media (max-width: 727px) {
  #main #room-footer #pagenationBtn-box .page-btn {
    width: 20%;
  }
  #main #room-footer #btn-box {
    justify-content: center;
    align-items: center;
  }
  #main #room-footer #btn-box .create-room-btn {
    width: 35%;
    height: 70%;
    font-size: 2.5vh;
  }

  #main #room-footer #btn-box .fast-match-btn {
    width: 35%;
    height: 70%;
    font-size: 2.5vh;
  }
  #main #search-box {
    width: 50%;
  }
  #main .room-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
    gap: 1rem;
    justify-items: center;
    margin-top: 1rem;
  }
}
@media (max-width: 426px) {
  #main main {
    width: 100%;
    margin: 0;
  }
  #main #search-box {
    width: 60%;
    margin-right: 1vh;
    margin-left: 1.5vh;
  }
  #main #main-top {
    justify-content: center;
  }
  #main #main-top .refresh {
    margin-right: 1.5vh;
    margin-left: 1vh;
  }
  .btn span.content-box .material-symbols-outlined {
    font-size: 2.5vh;
  }
}
@media (max-width: 390px) {
  #main #room-footer #pagenationBtn-box .page-btn {
    width: 25%;
  }
}
