/* ChatRoom.css */

.whisper-chat-room {
  flex-grow: 1;
  position: relative;
  width: 15.25rem;
  height: 32rem;
  border-radius: 0.625rem;
  background: #fafafa;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.message-container {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
  padding-right: 0.5rem;
}

/*scroll bar 스타일 지정 */
.message-container::-webkit-scrollbar {
  width: 10px;
}

.message-container::-webkit-scrollbar-thumb {
  background-color: #f59bbd;
  border-radius: 5px;
}

.message-container::-webkit-scrollbar-track {
  background-color: #fff2f7;
  border-radius: 5px;
}

.message {
  padding: 0.5rem;
  border-radius: 0.25rem;
  background-color: #e0e0e0;
  font-size: 1rem;
  font-family: Arial, sans-serif;
}

.message-own {
  align-self: flex-end;
  background-color: #90caf9;
}

.chat-input {
  display: flex;
  gap: 0.5rem;
}

.chat-input input {
  flex-grow: 1;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #bdbdbd;
}

.chat-input button {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: none;
  background-color: #90caf9;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.chat-input button:hover {
  background-color: #64b5f6;
}
