.recent-match-avartar {
  position: relative;
  flex-basis: 25%;
  width: 25%;
  margin: 0.5rem;
}

.recent-match-avartar .profile {
  border-radius: 50%;
  width: 100%;
}

.recent-match-avartar .chat {
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  position: absolute;
  bottom: 0rem;
  right: 1rem;
  padding: 0.3rem;
  color: #232323;
  cursor: pointer;
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
}

.recent-match-avartar .chat:hover {
  background-color: #232323;
  color: #fff;
}
