.AddressSelecter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
}

.AddressSelecter span {
  /* margin-right: 1.5rem; */
  font-size: 1.2rem;
  color: #232323;
  width: 20%;
  height: 5vh;
  /* color: #000;
  font-family: Roboto;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
  flex-shrink: 0;
  margin-right: 20px;
  display: inline-block; */
}

.AddressSelecter select {
  width: 45%;
  /* height: 7vh; */
  max-height: 30%;
  flex-shrink: 0;
  border-radius: 1.25rem;
  border: 3px solid rgb(217, 217, 217);
  background: rgb(255, 255, 255);
  color: rgb(137, 137, 137);
  font-size: 2.5vh;
  margin: 0.5rem 0px;
  padding: 0.5rem 0.3rem;
}

.AddressSelecter #sido {
  margin-right: 1.5rem;
  max-height: 30%; /* 원하는 높이로 조정 */
  overflow-y: auto;
}

@media (max-width: 970px) {
  .AddressSelecter span {
    display: none;
  }
  .AddressSelecter select {
    width: 70%;
  }
}
