/* Modal Overlay */
.matchingmodal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s;
  opacity: 0;
  visibility: hidden;
}

.matchingmodal-overlay.active {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

/* Modal */
.matching-modal {
  position: relative;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0px 4px 10px 8px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.matching-modal svg {
  width: 100%;
  margin-right: 0;
}

/* Button Styling */
.matching-modal .matching-button {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 2vh; */
}

.matching-modal .close-button {
  /* padding: 1vh 3vh; */
  /* margin-top: 3vh; */
  background-color: #ffd8e4;
  color: black;
  border: none;
  border-radius: 1rem;
  font-size: 2vh;
  font-weight: 600;
  transition: background-color 0.3s;
}

.matching-modal .close-button:hover {
  background-color: gray;
  color: #fff;
  cursor: pointer;
}

.matching-modal h2 {
  animation: typing 3s infinite;
  overflow: hidden;
  white-space: nowrap;
}

@keyframes typing {
  0% {
    opacity: 0;
    width: 0;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}

@media (max-width: 426px) {
  .matching-modal {
    width: 10rem;
    height: 10rem;
  }
  .matching-modal h2 {
    font-size: 3vh;
  }
  .matching-modal .close-button {
    font-size: 2vh;
  }
}
