.mypage .modify-form {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #232323;
  border-bottom: 1px solid #232323;
  /* margin-bottom: 1vh; */
  /* padding: 1rem 1.5rem; */
}

.mypage .modify-form .info-input {
  width: 70%;
  height: 7vh;
  flex-shrink: 0;
  border-radius: 1.25rem;
  border: 3px solid #d9d9d9;
  background: #fff;
  color: #898989;
  font-size: 2.5vh;
  margin: 0.5rem 0;
  padding: 0.5rem 0.7rem;
}

@media (max-width: 970px) {
  .mypage .modify-form .info-input {
    width: 100%;
  }
}
