.mypage .modify-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.5rem;
}

.mypage .modify-form .info-input {
  width: 26rem;
  height: 4rem;
  flex-shrink: 0;
  border-radius: 1.25rem;
  border: 3px solid #d9d9d9;
  background: #fff;
  color: #898989;
  font-size: 1.2rem;
  margin: 0.5rem 0;
  padding: 0.5rem 0.7rem;
}
